html {
    width: 100vw;
    height: 10vh;
    overflow: hidden;
}

* {
    font-family: "JetBrains ", monospace;
    user-select: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    overflow: hidden;
    display: flex;
}

.background {
    background: linear-gradient(
        135deg,
        rgb(255 179 0 / 27%),
        rgb(171 0 255 / 16%)
    );
    background-image: url(./media/bg.svg);
    filter: blur(80px);
    z-index: -500;
}

.loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}

.loader > img {
    transform: scale(2);
    filter: opacity(30%);
}

.adjustmentLayer {
    transition: 0.5s;
}

.contenedorCompuRetiradaSinPermiso {
    flex-direction: column;
    z-index: 100;
}

.contenedorCompuRetiradaSinPermiso::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 10em rgba(255, 0, 0, 0.171);
    animation: parpadeoRojo 5s ease-in-out infinite;
}

.contenedorCompuRetiradaSinPermiso > div {
    width: 70vw;
    height: 30vw;
    flex-direction: column;
    font-size: 40px;
    padding: 0.3em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}

main > div {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

/* menu que se muestra en caso de que no este conectado con Soquetic */

.SoqueTicNoCargado {
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 40vw;
    font-size: 30px;
    text-align: center;
    animation: espera 10s ease-out forwards;
}

.SoqueTicNoCargado > b {
    font-size: 50px;
}

.SoqueTicNoCargado > code {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.176),
        rgba(255, 255, 255, 0.24)
    );
    padding: 1em;
    border-radius: 20px;
    font-size: 40px;
}

.SoqueTicNoCargado > button {
    padding: 1em;
    border-radius: 20px;
    font-size: 30px;
}

/*Pagina 1*/

.pagina1 {
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    animation: entrada 1s ease-out forwards;
}

/* h1:active {
    animation: reducirYRestaurarEspacio 6s ease forwards;
    animation-delay: 0.2s;
} */

.btn_inicio {
    padding: 0.7em 1.6em;
    font-size: 70px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    animation: opacidad 1s ease-out forwards;
    text-decoration: none;
    color: white;
}

.btn_info_dci {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0.2em;
    width: 1em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    font-size: 70px;
    animation: opacidad 0.2s ease-out forwards;
}

.btn_info_dci > img {
    width: 1em;
}

/*Navbar de la parte de ayuda*/

.info_dci {
    width: 90vw;
    height: 90vh;
    font-size: 40px;
    margin: 2em;
    z-index: 100;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    animation: opacidad_blur 0.3s ease-out forwards;
    overflow: hidden;
}

.info_dci > * {
    padding: 0.5em;
    display: block;
}

.navbar_info {
    height: 0.05em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(78, 73, 73, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.opciones_nav_bar {
    width: auto;
    height: auto;
    left: 0;
    margin-left: 0.2em;
}

.circulos_nav_bar,
.circulos_credits {
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.circulos_nav_bar > span,
.circulos_credits > span {
    border-radius: 100%;
    width: 0.4em;
    aspect-ratio: 1/1;
    margin: 0 0.1em;
}

.circulos_nav_bar > span:nth-child(1),
.circulos_credits > span:nth-child(1) {
    background: #ff5f56;
    margin-left: 0.2em;
}
.circulos_nav_bar > span:nth-child(2),
.circulos_credits > span:nth-child(2) {
    background: #ffbd2e;
}

.circulos_nav_bar > span:nth-child(3),
.circulos_credits > span:nth-child(3) {
    background: #27c93f;
}

.flechas_nav_bar {
    position: relative;
    font-size: 25px;
    top: -0.05em;
}

.flechas_nav_bar > p {
    padding: 0 0.1em;
    color: #cececf;
}

.flechas_nav_bar > p:active {
    transform: scale(1.1);
}

.flechas_nav_bar > p:nth-child(2) {
    margin-left: 0.2em;
}

.sideBarIcon,
.sideBarIcon > img {
    width: 1em;
    aspect-ratio: 1/1;
    position: relative;
    margin: 0;
    margin: 0 0.1em;
}

.opciones_nav_bar  > span {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0.5em;
    font-size: 20px;
}

.share_nav_bar {
    width: auto;
    height: auto;
    right: 0;
    aspect-ratio: 1/1;
    width: 0.6em;
    margin-right: 0.2em;
}

.flechas_nav_bar > p:active,
.share_nav_bar:active {
    transform: scale(1.1);
}

/*Ayuda posta*/

.tutorialesDci {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
}

.contenedorSeleccionarTutoriales {
    position: relative;
    top: 0;
    padding: 0;
    height: 106.5%;
    font-size: 22px;
    border-right: 1px solid rgba(255, 255, 255, 0.18);
    margin: 0 0.7em;
}

.contenedorSeleccionarTutoriales > ul {
    display: flex;
    align-items: start;
    flex-direction: column;
    list-style: none;
    width: 100%;
    position: relative;
    left: -1em;
}

.contenedorSeleccionarTutoriales > ul > * {
    margin: 0.2em 0;
    padding: 0.2em 0.3em;
    width: 11em;
    height: 2em;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.contenedorSeleccionarTutoriales > ul > li:nth-child(4) > p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 9.8em;
    white-space: nowrap;
    text-align: center;
}

.contenedorTutorialesDci {
    height: 100%;
    width: 75%;
    margin-right: 0.7em;
    transition: width .1s, height .1s;
}

/* parte usuarios */
.contenedorContenidoTutorialesDci > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.contenedorContenidoTutorialesDci > div > b {
    font-size: 40px;
    padding-bottom: 0.4em;
}

.contenedorContenidoTutorialesDci > div > p {
    font-size: 20px;
}

.tiposUsuariosSideBar > button,
.btnsAlmProfeInfo > button, .btnsInfo {
    position: relative;
    left: -2em;
    min-width: 10.5em;
    height: 2.8em;
    border: none;
    font-size: 40px;
    transform: scale(0.6);
    cursor: default;
}

.btnsAlmProfeInfo > button:nth-child(2) {
    left: -6em;
}

.contenedorContenidoTutorialesDci > div > button:active,
.btnsAlmProfeInfo > button:active, .btnsInfo:active {
    transform: scale(0.7);
}

.desbloqueoSidebar > p {
    padding: .5em 0;
}

.btnCapturaTutorial {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btnCapturaTutorial > p {
    margin-left: 1em;
}

.btnCapturaTutorial > button {
    width: 7em;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 0.5em 0;
}

.btnCapturaTutorial > button > img {
    width: 4em;
    aspect-ratio: 1 / 1;
}


.navegacionSidebar > ul > li {
    font-size: 20px;
    padding: .5em 0;
    margin-left: .7em;
    padding: .5em 0;
    display: flex;
    align-items:center;
}

.navegacionSidebar > ul > li > button {
    min-width: 7em;
    aspect-ratio: 1/1;
    padding: 0.2em;
    margin: 0.7em;
    border: none;
    color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guiaAdminSidebar > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.guiaAdminSidebar > div > b {
    font-size: 30px;
    white-space: nowrap;
}

.guiaAdminSidebar > div > p {
    font-size: 20px;
}

/*Creditos*/

.contenedor_creditos {
    backdrop-filter: blur(15px);
    z-index: 200;
    background: #0000001b;
    animation: opacidad_blur 0.3s ease-out forwards;
}

.creditos {
    width: 30vw;
    height: 60vh;
    z-index: 300;
    font-size: 24px;
    flex-direction: column;
}

.contenedor_opciones_creditos {
    top: 0;
    height: 1em;
    width: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(78, 73, 73, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.contenedor_opciones_creditos > input::placeholder {
    color: white;
    font-style: normal;
}

.opciones_creditos {
    left: 0;
    top: auto;
    margin-left: 0.1em;
}

.creditos > i {
    position: absolute;
    top: 2.5em;
    font-size: 20px;
}

.nombresAgradecimientosCreditos {
    flex-direction: column;
}

.nombresAgradecimientosCreditos > p {
    font-size: 20px;
    bottom: 0;
    padding-bottom: 1em;
}

.nombresCreditos {
    gap: .5em;
}

.nombresCreditos > div > ul > li {
    list-style: none;
    padding: .4em 0;
}


/*Pagina 2 y 3*/

.contenedor_opciones_pagina2,
.contenedor_opciones_pagina3 {
    top: 6em;
}

.opciones_pagina2,
.opciones_pagina3 {
    width: 14.5em;
    height: 16.2em;
    font-size: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    mask-image: radial-gradient(
        circle 80px at center top,
        transparent,
        transparent 100%,
        black 100%
    );
    mask-size: 100%;
    mask-position: center top;
    mask-repeat: no-repeat;
}

.sombrapagina2y3 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14.5em;
    height: 16.2em;
    font-size: 40px;
    border-radius: 5px;
    z-index: -100;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: none;
    box-shadow: 0 8px 32px -20px rgba(0, 0, 0, 0.37);
}

/*Pagina 2*/

.opciones_pagina2 > p {
    color: white;
    position: relative;
    margin-top: 2em;
}

.opciones_pagina2 > p:nth-child(2) {
    color: #cececf;
    font-size: 25px;
    position: relative;
    top: -1.5em;
}

.opciones_login_pagina2 {
    flex-direction: column;
    position: relative;
    top: -0.5em;
}

.opciones_login_pagina2 > button {
    width: 10.5em;
    height: 2.8em;
    border: none;
    margin: 0.1em 0;
    font-size: 40px;
}

.opciones_login_pagina2 > button:nth-child(4) {
    height: 1.8em;
}

.icono_Usuario {
    width: 12em;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/*Pagina 3*/

.opciones_pagina3 > p {
    width: 10.5em;
    height: 2.8em;
    border: none;
    font-size: 40px;
    top: 2.5em;
}

.inputs_pagina_3 {
    top: 5.5em;
    flex-direction: column;
    width: auto;
}

.inputs_pagina_3 > * {
    position: relative;
    margin: 0.2em;
}

.curso_usuario_pagina3 {
    width: 14em;
    height: 2.3em;
}

.curso_usuario_pagina3 > * {
    width: 7.5em;
    height: 3.5em;
    font-size: 20px;
}

.curso_usuario_pagina3 > select > option {
    background: #3e3d3f;
}

.inputs_pagina_3 > input {
    position: relative;
    width: 14em;
    height: 2.3em;
    font-size: 30px;
    padding: 0px 0.5em;
    transition: 0.3s;
}

.opciones_pagina3 > button {
    top: 12.4em;
    width: 10.5em;
    height: 2.8em;
    border: none;
    margin: 0.1em 0;
    font-size: 40px;
    transition: 0.3s;
}

.opciones_pagina3 > button:active {
    transform: scale(1);
}

/*Pagina 4*/

.pagina4 > div:nth-child(1) {
    height: auto;
    flex-direction: column;
}

.pagina4 > div > p {
    font-size: 80px;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 1em;
}

.pagina4 > div > span {
    position: relative;
    color: #cececf;
    font-size: 25px;
    top: 0.5em;
}

.desbloqueo_pagina4 {
    height: 40vw;
}

.camara {
    width: 70vw;
    transform: rotateY(180deg);
    font-size: 40px;
}

.camara > video {
    width: 110%;
    aspect-ratio: 16/7;
    padding: 1em;
}

.opciones_camara {
    right: 0px;
    flex-direction: column;
    padding: 2.5em;
}

.opciones_camara > button {
    width: 7em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin: 0.5em 0;
}

.opciones_camara > button > img {
    width: 4em;
    aspect-ratio: 1/1;
}

/*Pagina 5*/

.contenedor_pagina5,
.contenedor_pagina6 {
    width: 100%;
    flex-direction: column;
}

.usuarioverificado_pagina5 {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.mostrarveridicado_pagina5y6 > p {
    font-size: 80px;
    color: white;
}

.mostrarveridicado_pagina5y6 > img {
    height: 10em;
    width: 10em;
    aspect-ratio: 1/1;
}

.verificado_retirar_devolver {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verificado_retirar_devolver > button {
    font-size: 60px;
    width: 10em;
    height: 3em;
    white-space: nowrap;
    margin: 0.3em;
    transition: 0.3s;
}

.usuarioNOverificado_pagina5 {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.mostrarNOverificado > p {
    margin-left: 0.7em;
    font-size: 80px;
    color: white;
}

.mostrarNOverificado > img {
    width: 12em;
    aspect-ratio: 1/1;
}

.usuarioNOverificado_pagina5 > button {
    font-size: 80px;
    width: 10em;
    height: 2em;
}

/*Pagina 6*/

.opciones_usuario {
    flex-direction: column;
    color: white;
}

.opciones_usuario > * {
    margin: 0.3em 0;
}

.opciones_usuario > div {
    font-size: 60px;
    width: 16em;
    height: 3em;
    padding: 0 1.5em;
    flex-direction: column;
    text-align: center;
}

.opciones_usuario > p {
    color: white;
    font-size: 60px;
}

.opciones_usuario > button {
    font-size: 90px;
    width: 9em;
    height: 2em;
}

.opciones_admin {
    height: auto;
    position: relative;
    top: 3em;
    flex-direction: column;
}

.opciones_admin > b {
    position: relative;
    top: -0.8em;
    font-size: 55px;
    text-align: center;
    color: white;
    margin-top: 1.5em;
}

.configadmin {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

.configadmin > button {
    font-size: 70px;
    width: 8.2em;
    height: 2.5em;
}

.contenedorOpcionesAdmin {
    top: -10em;
    min-height: 100vh;
    backdrop-filter: blur(15px);
    z-index: 200;
    background: #0000001b;
    animation: opacidad_blur 0.3s ease-out forwards;
}

.contenedorOpcionesAdmin > button {
    right: 0;
    top: 0;
    margin: 0.5em;
    width: 2em;
    aspect-ratio: 1/1;
    font-size: 30px;
}

.contenedorOpcionesAdmin > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.agregarSacarUsuarios > form {
    width: 30vw;
    height: 70vh;
    flex-direction: column;
}

.configuracionAdmin > form {
    flex-direction: column;
    color: white;
    font-size: 30px;
}

.configuracionAdmin > form > div {
    padding: 2em;
    margin: 2em 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

.configuracionAdmin > form > div > input {
    position: relative;
    width: 5em;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.contenedor_home_back {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
}

.contenedor_home_back > button {
    width: 7em;
    aspect-ratio: 1/1;
    padding: 0.2em;
    margin: 0.7em;
    border: none;
    color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos por clases y tipos de elementos*/

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_center_evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.glass {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(80px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
}

.glass_blur {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(80px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    background-image: url(./media/card_bg.png);
}
.shake {
    animation: shake 0.5s ease-in-out forwards;
}

.incompleto {
    background: linear-gradient(
        135deg,
        rgba(136, 75, 75, 0.694),
        rgba(133, 12, 12, 0.162)
    );
    backdrop-filter: blur(80px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(137, 75, 75, 0.37);
    color: white;
}

img {
    pointer-events: none;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transform: scale(0.96);
}

.button_hover:hover {
    transform: scale(1.05);
}

input::placeholder {
    color: white;
}

.opacidad_blur_fade {
    animation: opacidad_blur_fade 0.2s ease-out forwards;
}

.noDisponible {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgb(221 221 221 / 41%)
    );
    cursor: not-allowed;
    opacity: 50%;
    transform: scale(0.99);
}

.gradientDCI {
    background: linear-gradient(135deg, #69ff7e, #5300fa);
    background-clip: text;
    color: transparent;
}

.adjustmentLayerAlumno {
    background: #41216030;
    animation: opacidad 1s ease-out forwards;
}
.adjustmentLayerProfe {
    background: #2c5e5e42;
    animation: opacidad 1s ease-out forwards;
}

.adjustmentLayerInvitado {
    background: #31551161;
    animation: opacidad 1s ease-out forwards;
}

.italic {
    height: 1.3em;
    width: 50%;
    font-size: 24px;
    font-style: italic;
    color: #cececf;
    background: none;
    border: none;
    text-align: center;
    /*border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;*/
}

.italic::placeholder {
    font-size: 24px;
    font-style: italic;
    color: #cececf;
}

.italic:focus {
    outline: none;
    caret-color: transparent;
}

.fullWidth {
    width: 100vw;
}

.fullHeight {
    height: 100vh;
}

.pAbs {
    position: absolute;
}

.moverContainerIzquierda {
    animation: moverContainerIzquierda 0.2s ease-out forwards;
    left: -24%;
}

.moverContainerIzquierdaReverse {
    animation: moverContainerIzquierda 0.2s ease-out reverse;
    left: 0%;
}

.cambiarWidth {
    animation: cambiarWidth .1s ease-out forwards;
}

.cambiarWidthReverse {
    animation: cambiarWidth .1s ease-out reverse;
}

.SideBarElementClicked {
    background: linear-gradient(135deg, #64976b9e, #5300fa);
    backdrop-filter: blur(80px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.backgroundCover {
    background-size: cover;
    transition: .3s;
}

/*Animaciones*/
@keyframes opacidad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacidad_blur {
    from {
        opacity: 0;
        filter: blur(20px);
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}

@keyframes opacidad_blur_fade {
    0% {
        display: flex;
    }

    1% {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }

    99% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(0.7);
    }

    100% {
        display: none;
    }
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes reducirYRestaurarEspacio {
    0% {
        transform: translateX(0) rotate(0deg);
        letter-spacing: 0;
        line-height: 1.2;
        font-size: 90px;
    }
    40% {
        transform: translateX(5px) rotate(0.5deg);
    }
    50% {
        /* transform: translateX(-5px) rotate(-.5deg); */
        font-size: 70px;
    }
    51% {
        letter-spacing: 0;
        line-height: 1.2;
        font-size: 90px;
    }
    75% {
        /* transform: translateX(5px) rotate(0deg); */
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes espera {
    0% {
        display: none;
    }

    99% {
        display: none;
    }

    100% {
        display: flex;
    }
}
@keyframes parpadeoRojo {
    0% {
        box-shadow: inset 0 0 5em rgba(255, 0, 0, 0.3);
    }
    50% {
        box-shadow: inset 0 0 10em rgba(255, 0, 0, 0.5);
    }

    100% {
        box-shadow: inset 0 0 5em rgba(255, 0, 0, 0.3);
    }
}

@keyframes moverContainerIzquierda {
    from {
        left: 0%;
    }

    to {
        left: -24%;
    }
}

@keyframes cambiarWidth {
    0% {
        opacity: 1;
        width: 100%;
    }
    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 124%;
    }
}
