* {
    font-family: "JetBrains ", monospace;
    user-select: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    overflow: hidden;
    display: flex;
}

img {
    pointer-events: none;
}

.background {
    background: linear-gradient(
        135deg,
        rgb(255 179 0 / 27%),
        rgb(171 0 255 / 16%)
    );
    background-image: url(bg.svg);
    filter: blur(80px);
    min-width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -500;
}

.background_glass {
    background: #ffffff00;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 10%;
    transition: 0.3s;
    z-index: -100;
}

.background_glass > img {
    min-width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -400;
    opacity: 50%;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}

main > div {
    min-width: 100vw;
    height: 100vh;
    position: relative;
}

/*Pagina 1*/

.pagina1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    animation: entrada 1s ease-out forwards;
}

.btn_inicio {
    padding: 0.7em 1.6em;
    font-size: 70px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    animation: opacidad 1s ease-out forwards;
    text-decoration: none;
    color: white;
}

.btn_info_dci {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0.2em;
    width: 1em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    font-size: 70px;
    animation: opacidad 1s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_info_dci > svg {
    width: 1em;
}

/*Navbar de la parte de ayuda*/

.info_dci {
    width: auto;
    height: auto;
    position: absolute;
    font-size: 40px;
    margin: 2em;
    z-index: 100;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    animation: opacidad_blur .3s ease-out forwards;
}

.info_dci > * {
    padding: 0.5em;
    display: block;
}

.navbar_info {
    height: 0.05em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(78, 73, 73, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.navbar_info > input {
    font-size: 24px;
    font-style: italic;
    color: #cececf;
    background: none;
    border: none;
    text-align: center;
}

.navbar_info > input::placeholder {
    font-size: 24px;
    font-style: italic;
    color: #cececf;
}

.navbar_info > input:focus {
    border: none;
    outline: none;
    caret-color: transparent;
}

.opciones_nav_bar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    left: 0;
}

.circulos_nav_bar {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.circulos_nav_bar > span {
    border-radius: 100%;
    width: 0.4em;
    aspect-ratio: 1/1;
    margin: 0 0.1em;
}

.circulos_nav_bar > span:nth-child(1) {
    background: #ff5f56;
    margin-left: 0.2em;
}
.circulos_nav_bar > span:nth-child(2) {
    background: #ffbd2e;
}

.circulos_nav_bar > span:nth-child(3) {
    background: #27c93f;
}

.flechas_nav_bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 30px;
    top: -0.05em;
}

.flechas_nav_bar > p {
    padding: 0 .1em;
    color: #cececf;
}

.flechas_nav_bar > p:active {
    transform: scale(1.1);
}

.flechas_nav_bar > p:nth-child(2) {
    margin-left: .2em;
}

.share_nav_bar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    right: 0;
    aspect-ratio: 1/1;
    width: .7em;
    margin-right: 0.2em;
}

.flechas_nav_bar > p:active , .share_nav_bar:active  {
    transform: scale(1.1);
}

/*Ayuda posta*/

.info_tutorial_dci {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.info_tutorial_dci > b {
    font-size: 40px;
    padding-bottom: 0.4em;
}

.info_tutorial_dci > p {
    font-size: 22px;
}

.info_tutorial_dci > button , .btns_alm_profe_info > button {
    position: relative;
    left: -2em;
    width: 10.5em;
    height: 2.8em;
    border: none;
    font-size: 40px;
    transform: scale(0.6);
    cursor: default;
}

.btns_alm_profe_info > button:nth-child(2) {
    left: -6em;
}

.info_tutorial_dci > button:active , .btns_alm_profe_info > button:active {
    transform: scale(0.7);
}

/*Creditos*/

.contenedor_creditos {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background: #0000001b;
    animation: opacidad_blur .3s ease-out forwards;
}

.creditos {
    width: 30vw;
    height: 60vh;
    z-index: 300;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.creditos > button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    z-index: 200;
    font-size: 50px;
    width: 1em;
    aspect-ratio: 1/1;
}


.creditos > b {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(78, 73, 73, 0.1);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: .5em 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditos > ul {
    top: 0.5em;
}

.creditos > ul > li {
    padding: .5em 0;
}

/*Pagina 2 y 3*/

.pagina2,
.pagina3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_opciones_pagina2,
.contenedor_opciones_pagina3 {
    position: absolute;
    top: 6em;
}

.opciones_pagina2,
.opciones_pagina_3 {
    width: 14.5em;
    height: 16.2em;
    font-size: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    mask-image: radial-gradient(
        circle 80px at center top,
        transparent,
        transparent 100%,
        black 100%
    );
    mask-size: 100%;
    mask-position: center top;
    mask-repeat: no-repeat;
}

/*Pagina 2*/

.opciones_pagina2 > p {
    color: white;
    position: relative;
    margin-top: 2em;
}

.opciones_pagina2 > p:nth-child(2) {
    color: #cececf;
    font-size: 25px;
    position: relative;
    top: -1.5em;
}

.opciones_pagina2 > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    top: -0.5em;
}

.opciones_pagina2 > div > button {
    width: 10.5em;
    height: 2.8em;
    border: none;
    margin: 0.1em 0;
    font-size: 40px;
}

.opciones_pagina2 > div > button:nth-child(4) {
    height: 1.8em;
    display: none;
}

.icono_Usuario {
    width: 12em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/*Pagina 3*/

.opciones_pagina_3 > p {
    position: absolute;
    width: 10.5em;
    height: 2.8em;
    border: none;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2.5em;
}

.inputs_pagina_3 {
    top: 5.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
}

.inputs_pagina_3 > * {
    position: relative;
    margin: 0.2em;
}

.curso_usuario_pagina3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    height: 2.3em;
}

.curso_usuario_pagina3 > select {
    width: 7.5em;
    height: 3.5em;
    font-size: 20px;
}

.inputs_pagina_3 > input {
    position: relative;
    width: 14em;
    height: 2.3em;
    font-size: 30px;
    padding: 0px 0.5em;
    transition: 0.3s;
}

.opciones_pagina_3 > button {
    position: absolute;
    top: 12.4em;
    width: 10.5em;
    height: 2.8em;
    border: none;
    margin: 0.1em 0;
    font-size: 40px;
}

.opciones_pagina_3 > button:active {
    transform: scale(1);
}

/*Pagina 4*/

.pagina4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina4 > div:nth-child(1) {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.pagina4 > div > p {
    width: 100vw;
    font-size: 80px;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 1em;
}

.pagina4 > div > p > b {
    color: #e8cf10;
}

.desbloqueo_pagina4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40vw;
}

.camara {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    position: absolute;
    transform: rotateY(180deg);
}

.camara > video,
.camara > img {
    width: 110%;
    aspect-ratio: 16/7;
    padding: 1em;
}

.opciones_camara {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
}

.opciones_camara > button {
    width: 7em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;
}

.opciones_camara > button > svg {
    width: 4em;
    aspect-ratio: 1/1;
}

/*Pagina 5*/

.pagina5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_pagina5,
.contenedor_pagina6 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.usuarioverificado_pagina5 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mostrarveridicado_pagina5y6 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mostrarveridicado_pagina5y6 > p {
    font-size: 80px;
    color: white;
}

.mostrarveridicado_pagina5y6 > svg {
    height: 10em;
    width: 10em;
    aspect-ratio: 1/1;
}

.verificado_retirar_devolver {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verificado_retirar_devolver > button {
    font-size: 60px;
    width: 10em;
    height: 3em;
    white-space: nowrap;
    margin: 0.3em;
}

.usuarioNOverificado_pagina5 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mostrarNOverificado {
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mostrarNOverificado > p {
    margin-left: 0.7em;
}

.mostrarNOverificado > svg {
    width: 2.5em;
    aspect-ratio: 1/1;
}

.usuarioNOverificado_pagina5 > button {
    font-size: 80px;
    width: 10em;
    height: 2em;
}

/*Pagina 6*/

.opciones_usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.opciones_usuario > * {
    margin: 0.3em 0;
}

.opciones_usuario > div {
    font-size: 60px;
    width: auto;
    height: 3em;
    padding: 0 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.opciones_usuario > p {
    color: white;
    font-size: 60px;
}

.opciones_usuario > button {
    font-size: 90px;
    width: 9em;
    height: 2em;
}

.opciones_admin {
    height: auto;
    position: relative;
    top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.opciones_admin > b {
    position: relative;
    top: -0.8em;
    font-size: 55px;
    text-align: center;
    color: white;
    margin-top: 1.5em;
}

.opciones_admin > div {
    width: 100vw;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

.opciones_admin > div > button {
    font-size: 70px;
    width: 8.2em;
    height: 2.5em;
}

/*Botones navegacion*/

.contenedor_home_back {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
}

.contenedor_home_back > button {
    width: 7em;
    aspect-ratio: 1/1;
    padding: 0.2em;
    margin: 0.7em;
    border: none;
    color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos por clases*/

.glass {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(80px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
}

.glass_blur {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(80px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    background-image: url("card_bg.png");
}

.shake {
    animation: shake 0.5s ease-in-out forwards;
}

.incompleto {
    background: linear-gradient(
        135deg,
        rgba(136, 75, 75, 0.694),
        rgba(133, 12, 12, 0.162)
    );
    backdrop-filter: blur(80px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(137, 75, 75, 0.37);
    color: white;
}

canvas {
    display: none;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transform: scale(0.96);
}

.button_hover:hover {
    transform: scale(1.05);
}

input::placeholder {
    color: white;
}

@keyframes opacidad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacidad_blur {
    from {
        opacity: 0;
        filter: blur(20px);
        transform: scale(.7);
    }

    to {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}